<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codewithgolap.imageslider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.FOUR"/>
        <activity android:name=".SelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <!--    for image slider-->
        <activity android:name=".MainActivity" />

        <!--    for onboard tutorial-->
        <activity android:name=".onboadingOne.OnBoardingDesignOne" />
        <activity
            android:name=".onboardingSecond.OnBoardingTwoActivity"
            android:theme="@style/AppTheme.TWO" />
        <activity android:name=".onboardingThird.OnBoardingActivityThree" />
        <activity
            android:name=".onboardingForth.OnBoardingForthActivity"
            android:theme="@style/AppTheme.FOUR" />
    </application>

</manifest>